<?xml version="1.0" encoding="UTF-8"?>
<?if $(var.Platform) = x64 ?>
  <?define bitness = "(64 bit)" ?>
<?else ?>
  <?define bitness = "(32 bit)" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:difx="http://schemas.microsoft.com/wix/DifxAppExtension">
	<Product Id="*"
           Name="Synchronous Audio Router $(var.bitness)"
           Language="1033" Version="0.13.99.1"
           Manufacturer="Many Worlds"
           UpgradeCode="8cae7fd4-4469-4cc1-ba9a-76c00fbb5e05">
		<Package InstallerVersion="200" Compressed="yes"
             InstallScope="perMachine" />

    <Property Id="REQUIREADMINUSER" Value="Any"/>
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />
    <UIRef Id="WixUI_Common"/>
    <UIRef Id="WixUI_ErrorProgressText"/>
    <UIRef Id="SarUi"/>

		<Feature Id="Main" Title="Synchronous Audio Router" Level="1">
      <?if $(var.Platform) = x64 ?>
        <ComponentRef Id="KsDriver64"/>
        <ComponentRef Id="NdisDriver64"/>
      <?else ?>
        <ComponentRef Id="KsDriver32"/>
        <ComponentRef Id="NdisDriver32"/>
      <?endif ?>

      <?if $(var.Platform) = x64 ?>
        <ComponentRef Id="AsioDriver64"/>
        <ComponentRef Id="AsioDriver64_32"/>
        <ComponentRef Id="SarConfigure64"/>
      <?else ?>
        <ComponentRef Id="AsioDriver32"/>
        <ComponentRef Id="SarConfigure32"/>
      <?endif ?>

      <ComponentRef Id="ApplicationShortcut"/>
		</Feature>

    <?if $(var.Platform) = x64 ?>
      <Binary Id="SarInstallerActions"
              SourceFile="..\x64\Release\SarInstallerActions.dll"/>
    <?else ?>
      <Binary Id="SarInstallerActions"
              SourceFile="..\Release\SarInstallerActions.dll"/>
    <?endif ?>

    <CustomAction Id="CreateDeviceNode.SetProperty"
                  Return="check"
                  Property="CreateDeviceNode"
                  Value="[REQUIREADMINUSER]"/>
    <CustomAction Id="CreateDeviceNode"
                  BinaryKey="SarInstallerActions"
                  DllEntry="CreateDeviceNode"
                  Execute="deferred"
                  Impersonate="no"
                  Return="check"/>
    <!--
    <CustomAction Id="InstallNdisFilter"
                  BinaryKey="SarInstallerActions"
                  DllEntry="InstallNdisFilter"
                  Execute="deferred"
                  Impersonate="no"
                  Return="check"/>
                  -->
    <CustomAction Id="RemoveDeviceNode"
                  BinaryKey="SarInstallerActions"
                  DllEntry="RemoveDeviceNode"
                  Execute="deferred"
                  Impersonate="no"
                  Return="check"/>
    <!--
    <CustomAction Id="UninstallNdisFilter"
              BinaryKey="SarInstallerActions"
              DllEntry="UninstallNdisFilter"
              Execute="deferred"
              Impersonate="no"
              Return="check"/>
              -->

    <InstallExecuteSequence>
      <Custom Action="CreateDeviceNode.SetProperty" After="InstallFiles">
        NOT Installed AND NOT REMOVE
      </Custom>
      <Custom Action="CreateDeviceNode" After="CreateDeviceNode.SetProperty">
        NOT Installed AND NOT REMOVE
      </Custom>
      <!-- Disabled until NDIS driver is mature.
      <Custom Action="InstallNdisFilter" After="MsiProcessDrivers">
        NOT Installed AND NOT REMOVE
      </Custom>
      <Custom Action="UninstallNdisFilter" Before="MsiProcessDrivers">
        REMOVE
      </Custom>
      -->
      <Custom Action="RemoveDeviceNode" Before="RemoveFiles">
        REMOVE
      </Custom>
    </InstallExecuteSequence>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR64" Name="Synchronous Audio Router"/>
      </Directory>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Synchronous Audio Router"/>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Synchronous Audio Router"/>
      </Directory>
    </Directory>

    <?if $(var.Platform) = x64 ?>
    <DirectoryRef Id="INSTALLDIR64">
      <Component Id="KsDriver64"
                 Guid="{48C7E358-9797-42F7-B86D-5AA1DD3E0E44}"
                 Win64="yes">
        <File Id="SynchronousAudioRouter.sys"
              Name="SynchronousAudioRouter.sys"
              Source="..\x64\Release\SynchronousAudioRouter.sys"
              KeyPath="yes"/>
        <File Id="SynchronousAudioRouter.cat"
              Name="SynchronousAudioRouter.cat"
              Source="..\x64\Release\SynchronousAudioRouter\SynchronousAudioRouter.cat"
              KeyPath="no"/>
        <File Id="SynchronousAudioRouter.inf"
              Name="SynchronousAudioRouter.inf"
              Source="..\x64\Release\SynchronousAudioRouter\SynchronousAudioRouter.inf"
              KeyPath="no"/>
        <difx:Driver PlugAndPlayPrompt="no"/>
      </Component>

      <Directory Id="SarNdisDir" Name="SarNdis">
          <Component Id="NdisDriver64"
              Guid="{9E1CA92F-732B-4AFF-BFF4-3AAE349B9E8F}"
              Win64="yes">
          <File Id="SarNdis.sys"
                Name="SarNdis.sys"
                Source="..\x64\Release\SarNdis.sys"
                KeyPath="yes"/>
          <File Id="SarNdis.cat"
                Name="SarNdis.cat"
                Source="..\x64\Release\SarNdis\SarNdis.cat"
                KeyPath="no"/>
          <File Id="SarNdis.inf"
                Name="SarNdis.inf"
                Source="..\x64\Release\SarNdis\SarNdis.inf"
                KeyPath="no"/>
          <difx:Driver PlugAndPlayPrompt="no"/>
        </Component>
      </Directory>

      <Component Id="AsioDriver64"
                 Guid="{2EE1A63F-AEB4-4518-A3FD-963A67CAA5DA}"
                 Win64="yes">
        <File Id="SarAsio_x64.dll"
              Name="SarAsio_x64.dll"
              Source="..\x64\Release\SarAsio.dll"
              KeyPath="yes"/>
        <!--<File Id="SarCtl.exe" Source="..\x64\Release\SarCtl.exe" KeyPath="no"/>-->
        <RegistryValue Root="HKCR"
                       Key="CLSID\{0569D852-1F6A-44A7-B7B5-EFB78B66BE21}\InProcServer32"
                       Value="[#SarAsio_x64.dll]"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR"
                       Key="CLSID\{0569D852-1F6A-44A7-B7B5-EFB78B66BE21}\InProcServer32"
                       Name="ThreadingModel"
                       Value="Apartment"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR"
                       Key="CLSID\{9FB96668-9EDD-4574-AD77-76BD89659D5D}\InProcServer32"
                       Value="[#SarAsio_x64.dll]"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR"
                       Key="CLSID\{9FB96668-9EDD-4574-AD77-76BD89659D5D}\InProcServer32"
                       Name="ThreadingModel"
                       Value="both"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR"
                       Key="CLSID\{739191CC-CCBE-45D8-8D24-828D8E989E8E}\InProcServer32"
                       Value="[#SarAsio_x64.dll]"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR"
                       Key="CLSID\{739191CC-CCBE-45D8-8D24-828D8E989E8E}\InProcServer32"
                       Name="ThreadingModel"
                       Value="free"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR"
                       Key="CLSID\{0569D852-1F6A-44A7-B7B5-EFB78B66BE21}\ProgID"
                       Value="SynchronousAudioRouter.1"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR"
                       Key="CLSID\{0569D852-1F6A-44A7-B7B5-EFB78B66BE21}"
                       Value="Synchronous Audio Router ASIO"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\ASIO\Synchronous Audio Router"
                       Name="CLSID" Value="{0569D852-1F6A-44A7-B7B5-EFB78B66BE21}"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\ASIO\Synchronous Audio Router"
                       Name="Description"
                       Value="Synchronous Audio Router"
                       Type="string"
                       Action="write" />
      </Component>

      <Component Id="AsioDriver64_32"
                 Guid="{CB5A7C17-29B8-43BA-9B5F-F24DE175934C}"
                 Win64="yes">
        <File Id="SarAsio_x64_32.dll"
              Name="SarAsio.dll"
              Source="..\Release\SarAsio.dll"
              KeyPath="yes"/>
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\Wow6432Node\Classes\CLSID\{0569D852-1F6A-44A7-B7B5-EFB78B66BE21}\InProcServer32"
                       Value="[#SarAsio_x64_32.dll]"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\Wow6432Node\Classes\CLSID\{0569D852-1F6A-44A7-B7B5-EFB78B66BE21}\InProcServer32"
                       Name="ThreadingModel"
                       Value="Apartment"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\Wow6432Node\Classes\CLSID\{9FB96668-9EDD-4574-AD77-76BD89659D5D}\InProcServer32"
                       Value="[#SarAsio_x64_32.dll]"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\Wow6432Node\Classes\CLSID\{9FB96668-9EDD-4574-AD77-76BD89659D5D}\InProcServer32"
                       Name="ThreadingModel"
                       Value="both"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\Wow6432Node\Classes\CLSID\{739191CC-CCBE-45D8-8D24-828D8E989E8E}\InProcServer32"
                       Value="[#SarAsio_x64_32.dll]"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\Wow6432Node\Classes\CLSID\{739191CC-CCBE-45D8-8D24-828D8E989E8E}\InProcServer32"
                       Name="ThreadingModel"
                       Value="free"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\Wow6432Node\Classes\CLSID\{0569D852-1F6A-44A7-B7B5-EFB78B66BE21}\ProgID"
                       Value="SynchronousAudioRouter.1"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\Wow6432Node\Classes\CLSID\{0569D852-1F6A-44A7-B7B5-EFB78B66BE21}"
                       Value="Synchronous Audio Router ASIO"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Wow6432Node\ASIO\Synchronous Audio Router"
                       Name="CLSID" Value="{0569D852-1F6A-44A7-B7B5-EFB78B66BE21}"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\Wow6432Node\ASIO\Synchronous Audio Router"
                       Name="Description"
                       Value="Synchronous Audio Router"
                       Type="string"
                       Action="write" />
      </Component>
      <Component Id="SarConfigure64"
                 Guid="{7E9D972E-350B-4DD5-8E68-359A1B6049C4}"
                 Win64="yes">
        <File Id="SarConfigure.exe"
              Name="SarConfigure.exe"
              Source="..\x64\Release\SarConfigure.exe"
              KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <?else ?>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="KsDriver32"
                 Guid="{865DF004-18BD-448C-A63B-BF3B758CAE99}"
                 Win64="no">
        <File Id="SynchronousAudioRouter.sys"
              Name="SynchronousAudioRouter.sys"
              Source="..\Release\SynchronousAudioRouter.sys"
              KeyPath="yes"/>
        <File Id="SynchronousAudioRouter.cat"
              Name="SynchronousAudioRouter.cat"
              Source="..\Release\SynchronousAudioRouter\SynchronousAudioRouter.cat"
              KeyPath="no"/>
        <File Id="SynchronousAudioRouter.inf"
              Name="SynchronousAudioRouter.inf"
              Source="..\Release\SynchronousAudioRouter\SynchronousAudioRouter.inf"
              KeyPath="no"/>
        <difx:Driver PlugAndPlayPrompt="no"/>
      </Component>

      <Directory Id="SarNdisDir" Name="SarNdis">
        <Component Id="NdisDriver32"
             Guid="{9E1CA92F-732B-4AFF-BFF4-3AAE349B9E8F}"
             Win64="no">
          <File Id="SarNdis.sys"
                Name="SarNdis.sys"
                Source="..\Release\SarNdis.sys"
                KeyPath="yes"/>
          <File Id="SarNdis.cat"
                Name="SarNdis.cat"
                Source="..\Release\SarNdis\SarNdis.cat"
                KeyPath="no"/>
          <File Id="SarNdis.inf"
                Name="SarNdis.inf"
                Source="..\Release\SarNdis\SarNdis.inf"
                KeyPath="no"/>
          <difx:Driver PlugAndPlayPrompt="no"/>
        </Component>
      </Directory>

      <Component Id="AsioDriver32"
           Guid="{FFBEFDDB-FBC6-4CE5-9187-267DE9BB93D9}"
           Win64="no">
        <File Id="SarAsio.dll"
              Name="SarAsio.dll"
              Source="..\Release\SarAsio.dll"
              KeyPath="yes"/>
        <!--<File Id="SarCtl.exe" Source="..\x64\Release\SarCtl.exe" KeyPath="no"/>-->
        <RegistryValue Root="HKCR"
                       Key="CLSID\{0569D852-1F6A-44A7-B7B5-EFB78B66BE21}\InProcServer32"
                       Value="[#SarAsio.dll]"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR"
                       Key="CLSID\{0569D852-1F6A-44A7-B7B5-EFB78B66BE21}\InProcServer32"
                       Name="ThreadingModel"
                       Value="Apartment"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR"
                       Key="CLSID\{9FB96668-9EDD-4574-AD77-76BD89659D5D}\InProcServer32"
                       Value="[#SarAsio.dll]"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR"
                       Key="CLSID\{9FB96668-9EDD-4574-AD77-76BD89659D5D}\InProcServer32"
                       Name="ThreadingModel"
                       Value="both"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR"
                       Key="CLSID\{739191CC-CCBE-45D8-8D24-828D8E989E8E}\InProcServer32"
                       Value="[#SarAsio.dll]"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR"
                       Key="CLSID\{739191CC-CCBE-45D8-8D24-828D8E989E8E}\InProcServer32"
                       Name="ThreadingModel"
                       Value="free"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR"
                       Key="CLSID\{0569D852-1F6A-44A7-B7B5-EFB78B66BE21}\ProgID"
                       Value="SynchronousAudioRouter.1"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR"
                       Key="CLSID\{0569D852-1F6A-44A7-B7B5-EFB78B66BE21}"
                       Value="Synchronous Audio Router ASIO"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\ASIO\Synchronous Audio Router"
                       Name="CLSID" Value="{0569D852-1F6A-44A7-B7B5-EFB78B66BE21}"
                       Type="string"
                       Action="write" />
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\ASIO\Synchronous Audio Router"
                       Name="Description"
                       Value="Synchronous Audio Router"
                       Type="string"
                       Action="write" />
      </Component>
      <Component Id="SarConfigure32"
                 Guid="{768F46C3-E17B-41C0-88BA-BCA4C6526A78}"
                 Win64="no">
        <File Id="SarConfigure.exe"
              Name="SarConfigure.exe"
              Source="..\Release\SarConfigure.exe"
              KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <?endif ?>
    
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{BB519534-E09F-4424-BE20-48116DF6B8E8}">
        <Shortcut Id="SarConfigure_x86_StartMenuShortcut" 
                  Name="SAR Configuration"
                  Description="Configure Synchronous Audio Router"
                  Target="[#SarConfigure.exe]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\SynchronousAudioRouter" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
	</Product>
</Wix>
